name: Generate

on:
  workflow_dispatch: {} # Allows manual triggering of the workflow to generate SDK
  schedule:
    - cron: 0 * * * * # Runs every hour

jobs:
  generate:
    uses: speakeasy-api/sdk-generation-action/.github/workflows/sdk-generation.yaml@v9
    with:
      speakeasy_version: latest
      openapi_doc_location: https://api-docs-nine-delta.vercel.app/cloud/openapi.json
      languages: |-
        - typescript: ./
      publish_typescript: true
      mode: pr
    secrets:
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
